# https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
kube-prometheus-stack:
  alertmanager:
    enabled: true

  prometheus:
    prometheusSpec:
      scrapeInterval: 1m
      scrapeTimeout: 10s
      evaluationInterval: 1m
      retention: 30d
      retentionSize: 16GB
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - k8s-micro-node-3
      volumes:
        - name: prometheus-db
          persistentVolumeClaim:
            claimName: prometheus
      volumeMounts:
        - name: prometheus-db
          mountPath: /prometheus
      additionalScrapeConfigs:
        - job_name: pfsense
          static_configs:
            - targets:
                - 192.168.12.1
          metrics_path: /snmp
          params:
            auth: [public_v2]
            module: [pfsense]
          relabel_configs:
            - source_labels: [__address__]
              target_label: __param_target
            - source_labels: [__param_target]
              target_label: instance
            - target_label: __address__
              replacement: prometheus-snmp-exporter:9116
        ### https://github.com/kiali/kiali/discussions/7640#discussioncomment-10390501
        - job_name: istiod
          kubernetes_sd_configs:
            - role: endpoints
              namespaces:
                names:
                  - istio-system
          relabel_configs:
            - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
              action: keep
              regex: istiod;http-monitoring
        - job_name: envoy-stats
          metrics_path: /stats/prometheus
          kubernetes_sd_configs:
            - role: pod
          relabel_configs:
            - source_labels: [__meta_kubernetes_pod_container_port_name]
              action: keep
              regex: '.*-envoy-prom'

  grafana:
    replicas: 1
    deploymentStrategy:
      type: Recreate
    createConfigmap: true
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - k8s-micro-node-3
    ingress:
      enabled: false
    persistence:
      enabled: true
      existingClaim: grafana
    env:
      GF_AUTH_ANONYMOUS_ENABLED: true
    grafana.ini:
      analytics:
        enabled: false
        reporting_enabled: false
        check_for_updates: false
        check_for_plugin_updates: false
        feedback_links_enabled: false
      dashboards:
        versions_to_keep: 10
        min_refresh_interval: 1m
      snapshots:
        external_enabled: false
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: prometheus
            type: prometheus
            id: 1
            uid: aemc2p7q8b8jke
            orgId: 1
            access: proxy
            url: http://prometheus-kube-prometheus-stack-prometheus:9090
          - name: loki
            type: loki
            id: 2
            uid: demc2t9ggk0lcf
            orgId: 1
            access: proxy
            url: http://loki:3100
    dashboardProviders:
      providers.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ''
            type: file
            disableDeletion: true
            updateIntervalSeconds: 60
            allowUiUpdates: false
            options:
              path: /var/lib/grafana/dashboards
    dashboardsConfigMaps:
      default: gf-cm-default-dashboards

  kube-state-metrics:
    enabled: true

  prometheus-node-exporter:
    enabled: true
