# https://github.com/kiali/helm-charts
kiali-operator:
  cr:
    create: true
    namespace: istio-system
    spec:
      auth:
        strategy: anonymous
      external_services:
        prometheus:
          url: http://prometheus-kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        grafana:
          internal_url: http://kube-prometheus-stack-grafana.monitoring.svc.cluster.local
          external_url: https://grafana.willyhu.tw
