# https://artifacthub.io/packages/helm/cilium/cilium
cilium:
  kubeProxyReplacement: true
  l2announcements:
    enabled: true
  externalIPs:
    enabled: true
  k8sServiceHost: 192.168.12.21
  k8sServicePort: 6443
  socketLB:
    hostNamespaceOnly: true
  cni:
    exclusive: false
  hubble:
    enabled: true
    relay:
      enabled: true
    ui:
      enabled: true
      ingress:
        enabled: false
